<nav>
    <ul class="pagination">
        <li class="page-item" id="previous-page-button">
            <span class="page-link">&laquo;</span>
        </li>

        <li class="page-item active" aria-current="page">
            <span class="page-link">1 <span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>

        <li class="page-item" id="next-page-button">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</nav>