
<table class="table" id="templates-table">
    <tbody>
    <% templates.forEach((template) => { %>
        <tr class="template-row">
            <td>
                <div class="row">
                    <div class="col">
                        <p><b>Subject:</b></p>
                        <p class="template-subject"><%= template.subject %></p>
                        <p><b>Message:</b></p>
                        <p class="template-message"><%= template.message %></p>
                    </div>
                    <div class="col-auto align-self-center">
                        <button class="btn btn-danger delete-btn" data-template-id="<%= template['_id'] %>">-</button>
                    </div>
                </div>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>