<div class="modal fade" id="templates-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose an email template to use</h5>
                <button type="button" class="close-modal btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('templates-table', {templates}); %>
            </div>
        </div>
    </div>
</div>